@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Playwrite+IT+Moderna:wght@100..400&family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 25px;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
}

.didILetter {
  font-size: 75px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}

.didDTwoLetter {
  font-size: 44px;
  font-weight:bolder;
  text-decoration:underline;
  text-transform:lowercase;
}

/* THE word */

.theTLetter {
  font-size: 45px;
  font-weight:bolder;
  text-decoration:none;
  text-transform:none;
}

.theHLetter {
  font-size: 42px;
  font-weight:normal;
  text-decoration:underline;
  text-transform:lowercase;
  font-family: nosifer, serif;
}

.theELetter {
  font-size: 38px;
  font-weight:light;
  text-decoration:none;
  text-transform:uppercase;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 42px;
  font-weight:normal;
  text-decoration:overline;
  text-transform:none;
}

.frontendRLetter {
  font-size: 55px;
  font-weight:bold;
  text-decoration:none;
  text-transform:lowercase;
}

.frontendOLetter {
  font-size: 36px;
  font-weight:light;
  text-decoration:none;
  text-transform:none;
}

.frontendNLetter {
  font-size: 40px;
  font-weight:bold;
  text-decoration:underline;
  text-transform:uppercase;
}

.frontendTLetter {
  font-size: 35px;
  font-weight:normal;
  text-decoration:line-through;
  text-transform:lowercase;

}

.frontendELetter {
  font-size: 60px;
  font-weight:light;
  text-decoration:none;
  text-transform:uppercase;
}

.frontendNTwoLetter {
  font-size: 29px;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
}

.frontendDLetter {
  font-size: 65px;
  font-weight:normal;
  text-decoration:underline;
  text-transform:lowercase;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 49px;
  font-weight:400;
  text-decoration:none;
  text-transform:lowercase;
}
.developerELetter {
  font-size: 25px;
  font-weight:bold;
  text-decoration:none;
  text-transform:lowercase;
}
.developerVLetter {
  font-size: 42px;
  font-weight:normal;
  text-decoration:overline;
  text-transform:uppercase;
}
.developerETwoLetter {
  font-size: 43px;
  font-weight:700;
  text-decoration:underline;
  text-transform:uppercase;
}
.developerLLetter {
  font-size: 55px;
  font-weight:bold;
  text-decoration:line-through;
  text-transform:uppercase;
}
.developerOLetter {
  font-size: 61px;
  font-weight:400;
  text-decoration:none;
  text-transform:uppercase;
}
.developerPLetter {
  font-size: 25px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.developerEThreeLetter {
  font-size: 35px;
  font-weight:light;
  text-decoration:none;
  text-transform:lowercase;
}
.developerRLetter {
  font-size: 30px;
  font-weight:700;
  text-decoration:none;
  text-transform:uppercase;
}

/* TAKE word */

.takeTLetter {
  font-size: 47px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.takeALetter {
  font-size: 25px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.takeKLetter {
  font-size: 42px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.takeELetter {
  font-size: 61px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}

/* UP word */

.upULetter {
  font-size: 55px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.upPLetter {
  font-size: 46px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 65px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.gardeningALetter {
  font-size: 49px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.gardeningRLetter {
  font-size: 32px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.gardeningDLetter {
  font-size: 25px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.gardeningELetter {
  font-size: 43px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.gardeningNLetter {
  font-size: 62px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.gardeningILetter {
  font-size: 56px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.gardeningNTwoLetter {
  font-size: 49px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.gardeningGTwoLetter {
  font-size: 41px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}

/* BECAUSE word */

.becauseBLetter {
  font-size: 25px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.becauseELetter {
  font-size: 32px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.becauseCLetter {
  font-size: 46px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.becauseALetter {
  font-size: 59px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.becauseULetter {
  font-size: 42px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.becauseSLetter {
  font-size: 52px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.becauseETwoLetter {
  font-size: 36px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}

/* THEY word */

.theyTLetter {
  font-size: 49px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.theyHLetter {
  font-size: 41px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.theyELetter {
  font-size: 34px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.theyYLetter {
  font-size: 25px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}

/* WANTED word */

.wantedWLetter {
  font-size: 34px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.wantedALetter {
  font-size: 48px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.wantedNLetter {
  font-size: 62px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.wantedTLetter {
  font-size: 54px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.wantedELetter {
  font-size: 49px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;
}
.wantedDLetter {
  font-size: 58px;
  font-weight:normal;
  text-decoration:none;
  text-transform:lowercase;

}

/* TO word */

.toTLetter {
  font-size: 67px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: lowercase;
}
.toOLetter {
  font-size: 25px;
  font-weight:bold;
  text-decoration:overline;
  text-transform:uppercase;
}

/* IMPROVE word */

.improveILetter {
  font-size: 48px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
}
.improveMLetter {
  font-size: 55px;
  font-weight:bold;
  text-decoration:underline;
  text-transform:lowercase;

}
.improvePLetter {
  font-size: 61px;
  font-weight:400;
  text-decoration:line-through;
  text-transform:lowercase;
}
.improveRLetter {
  font-size: 49px;
  font-weight:light;
  text-decoration:underline;
  text-transform:lowercase;
}
.improveOLetter {
  font-size: 41px;
  font-weight:bold;
  text-decoration:none;
  text-transform:lowercase;
}
.improveVLetter {
  font-size: 35px;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;

}
.improveELetter {
  font-size: 47px;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;

}

/* THEIR word */

.theirTLetter {
  font-size: 35px;
  font-weight:400;
  text-decoration:overline;
  text-transform:lowercase;
}
.theirHLetter {
  font-size: 25px;
  font-weight:700;
  text-decoration:line-through;
  text-transform:uppercase;
}
.theirELetter {
  font-size: 32px;
  font-weight:light;
  text-decoration:underline;
  text-transform:uppercase;
}
.theirILetter {
  font-size: 46px;
  font-weight:bolder;
  text-decoration:none;
  text-transform:uppercase;

}
.theirRLetter {
  font-size: 54px;
  font-weight:light;
  text-decoration:overline;
  text-transform:lowercase;
}

/* ROOT word */

.rootRLetter {
  font-size: 47px;
  font-weight:bold;
  text-decoration:none;
  text-transform:lowercase;
}
.rootOLetter {
  font-size: 38px;
  font-weight:light;
  text-decoration:none;
  text-transform:uppercase;
}
.rootOTwoLetter {
  font-size: 49px;
  font-weight:bolder;
  text-decoration:underline;
  text-transform:lowercase;

}
.rootTLetter {
  font-size: 54px;
  font-weight:ligh;
  text-decoration:underline;
  text-transform:uppercase;
}

/* SKILLS word */

.skillsSLetter { 
  font-size: 42px;
  font-weight:400;
  text-decoration:overline;
  text-transform:uppercase;

}
.skillsKLetter {
  font-size: 34px;
  font-weight:normal;
  text-decoration:line-through;
  text-transform:lowercase;
}
.skillsILetter {
  font-size: 25px;
  font-weight:bold;
  text-decoration:overline;
  text-transform:lowercase;
}
.skillsLLetter {
  font-size: 49px;
  font-weight:700;
  text-decoration:none;
  text-transform:uppercase;
}
.skillsLTwoLetter {
  font-size: 41px;
  font-weight:400;
  text-decoration:none;
  text-transform:uppercase;
}
.skillsSTwoLetter {
  font-size: 55px;
  font-weight:light;
  text-decoration:line-through;
  text-transform:lowercase;
}

/* SYMBOLS */

.hyphen {
  font-size: 44px;
  font-weight:bolder;
}
.exclamation-mark {
  font-size: 66px;
  font-weight:bolder;

}
.question-mark {
  font-size: 43px;
  font-weight:light;
}
.colorRed {
  color: rgb(105, 17, 17);
}
.colorBlue {
color: blue;
}
.colorWhite {
  color:rgb(107, 107, 107);

}
.colorGreen {
color:greenyellow;
}
.colorPurple {
  color:blueviolet;
}
.colorYellow {
  color:yellow;
}
.colorOrange{
  color:rgb(194, 88, 2);
}
.letter:nth-of-type(7n) {
  font-family: 'Piazolla', sans-serif;
}
.letter:nth-of-type(7n+1){
  font-family: 'Ceviche One', sans-serif;
}
.letter:nth-of-type(7n+2){
  font-family: 'Raleway Dots', sans-serif;
}
.letter:nth-of-type(7n+3){
  font-family: 'Playwrite IT Moderna', sans-serif;
}
.letter:nth-of-type(7n+4){
  font-family: "Nosifer", sans-serif;
}
.letter:nth-of-type(7n+5){
  font-family: "Mea Culpa", sans-serif;
}